<h2 class="text-center">Detalles del cuenta</h2>
<div>
    <div>
        <label for="id"><b>ID : </b>{{cuenta.idCuenta}}</label>
    </div>
    <div>
        <label for="id"><b>Tipo de cuenta : </b>{{cuenta.tipoCuenta}}</label>
    </div>
    <div>
        <label for="id"><b>Número de cuenta : </b>{{cuenta.nroCuenta}}</label>
    </div>
    <div>
        <label for="id"><b>Moneda : </b>{{cuenta.moneda}}</label>
    </div>
    <div>
        <label for="id"><b>Monto : </b>{{cuenta.monto}}</label>
    </div>
    <div>
        <label for="id"><b>Fecha de creación : </b>{{cuenta.fechaCreacion}}</label>
    </div>
    <div>
        <label for="id"><b>Sucursal : </b>{{cuenta.sucursal}}</label>
    </div>

    <br>
    
</div>