<br>
<button type="button" class="btn btn-secondary" (click)="nuevoCliente()">Nuevo cliente</button>

<br>
<h2 class="text-center">Lista clientes</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Paterno</th>
          <th scope="col">Materno</th>
          <th scope="col">Tipo de documento</th>
          <th scope="col">Documento</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Genero</th>
          <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
          <th scope="row">{{cliente.idCliente}}</th>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.paterno}}</td>
          <td>{{cliente.materno}}</td>
          <td>{{mostrarTipoDocumento(cliente.tipoDocumento)}}</td>
          <td>{{cliente.documento}}</td>
          <td>{{cliente.fechaNacimiento | date:'longDate'}}</td>
          <td>{{mostrarGenero(cliente.genero)}}</td>
          <td>
              <button (click)="detallesCliente(cliente.idCliente)" class="btn btn-success me-1">Ver detalles</button>
              <button (click)="actualizarCliente(cliente.idCliente)" class="btn btn-info me-1">Actualizar</button>
              <button (click)="eliminarCliente(cliente.idCliente)" class="btn btn-danger">Eliminar</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
